@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='time']::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #16161a;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

.timeline::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.timeline::-webkit-scrollbar-track {
    background: #16161a;
}

/* Handle */
.timeline::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
.timeline::-webkit-scrollbar-thumb:hover {
    background: #fff;
}
